<h1> Password Generator version 1.0.0</h1>
<br><p>
    Welcome to the Password Generator web application, created by Daniel Kreling.<br>
    This tool is inteneded to randomly create a password based on users' choices.<br>
    This app was created and developed based on Udemy course "Django 3 - Full Stack Websites with Python Web Development" created and presented by Nick Walter [https://www.udemy.com/course/django-3-make-websites-with-python-tutorial-beginner-learn-bootstrap/].
</p>
<br><p align="center">Aug, 2020</p>
<p align="center">
    <a href="{% url 'home' %}">Home</a>
</p>

